mixin header
	//- Navbar for my site
	nav(role="navigation").navbar.navbar-default
		.container-fluid
			.navbar-header
				a(href="#").navbar-brand brand
			.site-menu
				ul.nav.navbar-nav
					li.active: a(href="#")
						span home
