mixin meta_tags
	meta(charset='utf-8')
	title site title
	link(rel='shortcut icon', href='/favicon.ico')
	link(rev='made', href='mailto:mail@mail.mx')
	//- Meta Tags
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
	meta(name='description', content='')
	meta(name='author', content='')
	meta(name='reply-to', content='')
	meta(name='keywords', content='')
	meta(name='Resource-type', content='')
	meta(name='DateCreated', content='Tue, 5 May 2015 00:00:00 GMT+1')
	meta(name='Revisit-after', content='6 days')
	meta(name='robots', content='all')
	//- Facebook
	meta(property='og:title', content='')
	meta(property='og:site_name', content='')
	meta(property='og:type', content='blog')
	meta(property='og:description', content='', graph='')
	meta(property='og:image', content='')
