//- layout.jade
doctype html
html(lang="en")
  head
    title gulp + jade + less + coffee

    // build:css(.tmp) /styles/main.css
    // bower:css
    link(rel='stylesheet', href='../bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='../bower_components/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='../bower_components/devicon/devicon.min.css')
    // endbower
    link(rel='stylesheet', href='/styles/main.css')
    // endbuild

  body

    // content
    block content

    // build:js(.tmp) /scripts/main.js
    // bower:js
    script(src='../bower_components/modernizr/modernizr.js')
    script(src='../bower_components/jquery/dist/jquery.js')
    script(src='../bower_components/jquery-ui/jquery-ui.js')
    script(src='../bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='../bower_components/heartcode-canvasloader/index.js')
    script(src='../bower_components/TweenJS/lib/tweenjs-0.6.1.combined.js')
    script(src='../bower_components/EaselJS/lib/easeljs-0.8.1.combined.js')
    script(src='../bower_components/PreloadJS/lib/preloadjs-0.6.1.combined.js')
    // endbower
    script(src='/scripts/main.js')
    // endbuild
